<?xml version="1.0" encoding="UTF-8"?>
 
<suite name = "PizzaHut_web" >
<test name = "PizzaApp test">
<parameter name = "browser" value = "chrome"/>
<classes>
<class name = "com.Pizzahut.testCases.TC_LoginTest_001"/>
<class name = "com.Pizzahut.testCases.TC_OrderplaceTest_002"/>
<class name = "com.Pizzahut.testCases.TC_LogoutTest_005"/>
</classes>
</test>
</suite>
